@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Book.css" asp-append-version="true" />
@model IEnumerable<LibraryTest.Models.Book>


<div class="Container-home">
    <h1>Books list</h1>
    <a class="a-home" asp-action="Create">Create new Book</a>
    @foreach (var item in Model)
    {
        <div class="Card-item">
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            <h4>@Html.DisplayFor(modelItem => item.Author.Name)</h4>
        </div>
    }
</div>