@model IEnumerable<LibraryTest.Models.Author>
<link rel="stylesheet" href="~/css/Author.css" asp-append-version="true" />

@{


    <div class="Container-author">
        <h1>Author list</h1>
        <a class="a-create-author" asp-action="Create">Create new author</a>
        @foreach (var item in Model)
        {
            <div class="Card-item">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                <h4>@Html.DisplayFor(modelItem => item.AuthorId)</h4>
            </div>
        }
    </div>
}